# =========================
# Python
# =========================

# Virtual environment
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# =========================
# Jupyter
# =========================

.ipynb_checkpoints/

# =========================
# Quarto
# =========================

# Quarto project metadata
.quarto/

# Quarto freeze/cache directories
_freeze/
_cache/

# Rendered Quarto output
*.html

# Quarto generated asset folders
*_files/

# =========================
# VS Code
# =========================

.vscode/settings.json
.vscode/*.json

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db
/.quarto/
**/*.quarto_ipynb
